@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "poppins";
  outline: none;
  border: none;
  color: #fff;
}

body {
  background: #0f0a0a;
  height: 100vh;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/*********** For all Section *************/
section {
  padding: 6rem 6% 1rem;
  min-height: 100vh;
}

.about,
.education,
.contact,
.skills,.project,.certification {
  overflow: hidden;
}

.title {
  font-size: 5rem;
  margin-bottom: 3rem;
  font-weight: 600;
  text-align: center;
}

.title span {
  color: #ff00ee;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}
/****************** Header Section ***************/
.header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 2.5rem 1.5%;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.sticky {
  border-bottom: 2px solid rgba(255, 255, 255, .1);
  background: #0f0a0a;
}

.logo {
  font-size: 2.9rem;
  font-weight: 600;
  text-decoration: none;
  color: #ff00ee;
}

#menu {
  color: #fff;
  font-size: 2.5rem;
  display: none;
}
.navbar a {
  display: inline-block;
  font-size: 1.7rem;
  text-decoration: none;
  margin: 0 2.5rem;
  font-weight: 500;
  letter-spacing: .02;
}

.navbar a:hover,
.navbar a.active {
  color: #ff00ee;
  border-bottom: 0.2rem solid #ff00ee;
}

/********************* Home Section ****************/
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  max-width: 70rem;
}

.text-content h1 {
  font-size: 5rem;
  color: #fff;
  letter-spacing: .05rem;
  font-weight: 600;
}

.text-animation {
  position: relative;
  width: 32.8rem;
}

.text-animation h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px #ff00ee;
  background: linear-gradient(#ff00ee, #ff00ee);
  background-repeat: no-repeat;
  background-position: -33rem 0;
}

.text-content p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.social-media {
  margin: 2rem 0;
}

.social-media i {
  display: inline-block;
  font-size: 2.5rem;
  background: rgba(255, 255, 255, .1);
  border: .2rem solid rgba(255, 255, 255, .3);
  padding: .8rem;
  margin: 0 .5rem;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.social-media i::after {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  height: 300%;
  width: 100%;
  background: linear-gradient(#0f0a0a, #ff00ee, #0f0a0a, #ff00ee);
  z-index: -1;
}
i:hover::after{
  top: 0;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  color: #fff;
  background: #ff00ee;
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn:hover {
  box-shadow: 0 3px 5px #ff00ee;
}

.home img {
  width: 30vw;
  background: rgba(255, 255, 255, .1);
  border: .2rem solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  filter: drop-shadow(0 0 5rem #ff00ee);
}

/******************* education section ***********/
.row {
  display: flex;
  column-gap: 4rem;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 30rem;
}

.column h2 {
  font-size: 2.5rem;
  margin: 2rem 0 1rem 1.96rem;
}

.box {
  border-left: .2rem solid #ff00ee;
}

.education-content {
  padding-left: 1.9rem;
}

.education-content .content {
  padding: 1.5rem;
  border: .2rem solid #ff00ee;
  background: rgba(255, 255, 255, .1);
  border-radius: .5rem;
  margin-bottom: 2rem;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  left: -2.8rem;
  top: -1.5rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background: #ff00ee;
}

.content .year {
  font-size: 1.5rem;
  color: #ff00ee;
}

.content .year i {
  color: #ff00ee;
  font-size: 1.5rem;
  margin-left: .5rem;
}

.content h3{
  font-size: 1.7rem;
  letter-spacing: .05rem;
  margin: .5rem 0;
}

.content p {
  font-size: 1.5rem;
}

/************** Skill section *************/

.skill-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.skill-content {
  width: 100%;
  flex: 1 1 30rem;
}
.skill-box {
  height: 100%;
  width: 100%;
  padding: 3rem 3rem;
  background: rgba(255, 255, 255, .1);
  border-radius: 1rem;
}

.skill-box1 {
  border: .2rem solid #ff00ee;
}

.skill-box2 {
  margin-top: 10%;
  border: .2rem solid #ff00ee;
}

.single-skill {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.single-skill span {
  font-size: 1.6rem;
}

.bar-side {
  background: #111;
  height: 1rem;
  border-radius: 50rem;
  position: relative;
  overflow: hidden;
}

.bar {
  position: absolute;
  height: 100%;
  background: #ff00ee;
}

.bar-1 {
  width: 85%;
}

.bar-2 {
  width: 70%;
}

.bar-3 {
  width: 60%;
}

.bar-4 {
  width: 85%;
}

.bar-5 {
  width: 75%;
}

.bar-6 {
  width: 70%;
}

.input-box span {
  color: #ff00ee;
}

.input-box {
  text-align: center;
}