@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "poppins";
  outline: none;
  border: none;
  color: #fff;
}

body {
  background: #0f0a0a;
  height: 100vh;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/*********** For all Section *************/
section {
  padding: 6rem 6% 1rem;
  min-height: 100vh;
}

.about,
.education,
.contact,
.skills,.project,.certification {
  overflow: hidden;
}

.title {
  font-size: 5rem;
  margin-bottom: 3rem;
  font-weight: 600;
  text-align: center;
}

.title span {
  color: #ff00ee;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}
/****************** Header Section ***************/
.header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 2.5rem 1.5%;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.sticky {
  border-bottom: 2px solid rgba(255, 255, 255, .1);
  background: #0f0a0a;
}

.logo {
  font-size: 2.9rem;
  font-weight: 600;
  text-decoration: none;
  color: #ff00ee;
}

#menu {
  color: #fff;
  font-size: 2.5rem;
  display: none;
}
.navbar a {
  display: inline-block;
  font-size: 1.7rem;
  text-decoration: none;
  margin: 0 2.5rem;
  font-weight: 500;
  letter-spacing: .02;
}

.navbar a:hover,
.navbar a.active {
  color: #ff00ee;
  border-bottom: 0.2rem solid #ff00ee;
}

/********************* Home Section ****************/
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  max-width: 70rem;
}

.text-content h1 {
  font-size: 5rem;
  color: #fff;
  letter-spacing: .05rem;
  font-weight: 600;
}

.text-animation {
  position: relative;
  width: 32.8rem;
}

.text-animation h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px #ff00ee;
  background: linear-gradient(#ff00ee, #ff00ee);
  background-repeat: no-repeat;
  background-position: -33rem 0;
}

.text-content p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.social-media {
  margin: 2rem 0;
}

.social-media i {
  display: inline-block;
  font-size: 2.5rem;
  background: rgba(255, 255, 255, .1);
  border: .2rem solid rgba(255, 255, 255, .3);
  padding: .8rem;
  margin: 0 .5rem;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.social-media i::after {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  height: 300%;
  width: 100%;
  background: linear-gradient(#0f0a0a, #ff00ee, #0f0a0a, #ff00ee);
  z-index: -1;
}
i:hover::after{
  top: 0;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  color: #fff;
  background: #ff00ee;
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn:hover {
  box-shadow: 0 3px 5px #ff00ee;
}

.home img {
  width: 30vw;
  background: rgba(255, 255, 255, .1);
  border: .2rem solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  filter: drop-shadow(0 0 5rem #ff00ee);
}

/******************* education section ***********/
.row {
  display: flex;
  column-gap: 4rem;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 30rem;
}

.column h2 {
  font-size: 2.5rem;
  margin: 2rem 0 1rem 1.96rem;
}

.box {
  border-left: .2rem solid #ff00ee;
}

.education-content {
  padding-left: 1.9rem;
}

.education-content .content {
  padding: 1.5rem;
  border: .2rem solid #ff00ee;
  background: rgba(255, 255, 255, .1);
  border-radius: .5rem;
  margin-bottom: 2rem;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  left: -2.8rem;
  top: -1.5rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background: #ff00ee;
}

.content .year {
  font-size: 1.5rem;
  color: #ff00ee;
}

.content .year i {
  color: #ff00ee;
  font-size: 1.5rem;
  margin-left: .5rem;
}

.content h3{
  font-size: 1.7rem;
  letter-spacing: .05rem;
  margin: .5rem 0;
}

.content p {
  font-size: 1.5rem;
}

/************** Skill section *************/

.skill-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.skill-content {
  width: 100%;
  flex: 1 1 30rem;
}
.skill-box {
  height: 100%;
  width: 100%;
  padding: 3rem 3rem;
  background: rgba(255, 255, 255, .1);
  border-radius: 1rem;
}

.skill-box1 {
  border: .2rem solid #ff00ee;
}

.skill-box2 {
  margin-top: 10%;
  border: .2rem solid #ff00ee;
}

.single-skill {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.single-skill span {
  font-size: 1.6rem;
}

.bar-side {
  background: #111;
  height: 1rem;
  border-radius: 50rem;
  position: relative;
  overflow: hidden;
}

.bar {
  position: absolute;
  height: 100%;
  background: #ff00ee;
}

.bar-1 {
  width: 85%;
}

.bar-2 {
  width: 70%;
}

.bar-3 {
  width: 60%;
}

.bar-4 {
  width: 85%;
}

.bar-5 {
  width: 75%;
}

.bar-6 {
  width: 70%;
}

.input-box span {
  color: #ff00ee;
}

.input-box {
  text-align: center;
}

/**************** PROJECT Section **************/

.project-content {
  width: 100%;
  flex: 1 1 30rem;
}
.project-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 5rem 4rem;
  background: rgba(255, 255, 255, .1);
  border-radius: 1rem;
  border: .2rem solid #ff00ee;
}
.project-card {
  background-color: rgba(255, 255, 255, .1);
  padding: 0px;
  text-align: center;
  border: 1px solid #e45bdb;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 5px #ff00ee;
}
.project-card img {
  width: 100%;
  height: calc(100% - 100px);
  border-radius: 10px 10px 0 0;
}

.project-card p {
  font-size: 1.2rem;
  padding: 3px 3px;
  padding-bottom: 5px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.linkbtn .btn {
  padding: 1.3rem 2rem;
  border-radius: 2.5em;
  text-align: center;
  color: #fff;
  background: #ff00ee;
  font-family: "Nunito", sans-serif;
}
.linkbtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

/**************** Certification Section **************/

.certification-content {
  width: 100%;
  flex: 1 1 30rem;
}
.certification-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.certification-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 5rem 4rem;
  background: rgba(255, 255, 255, .1);
  border-radius: 1rem;
  border: .2rem solid #ff00ee;
}
.certification-card {
  background-color: rgba(255, 255, 255, .1);
  padding: 25px;
  border: 1px solid #e45bdb;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certification-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 5px #ff00ee;
}

.certification-card img {
  width: 100%;
  height: calc(100% - 30px);
  border-radius: 10px 10px 0 0;
}

.certification-card p {
  font-size: 1.2rem;
  padding-top: 2px;
  color: #fff;
  text-align: center;
}

/***************** Contact Section ***********/
.contact {
  background: #0f0a0a;
  min-height: 60vh;
}

.contact .container {
  max-width: 1200px;
  width: 100%;
  background: rgba(255, 255, 255, .1);
  border-radius: 1.5rem;
  border: .2rem solid #ff00ee;
}

.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.contact .content form {
  width: 100%;
  margin-right: 3.5rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}

form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: #fff;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 0 0 48px;
  padding-left: 20px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid #e45bdb;
  background: rgba(255, 255, 255, .1);
}

.field input::placeholder,
.message textarea::placeholder {
  color: #fff;
}

.field input:focus,
.message textarea:focus {
  padding-left: 20px;
  box-shadow: 0 2px 3px #ff00ee;
  border: 1px solid #ff00ee;
}

.field input:focus~i,
.message textarea:focus~i {
  color: #fff;
}

form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}

form .message i {
  top: 25px;
  font-size: 20px;
  left: 20px;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  margin-top: 3px;
}

form .message textarea::-webkit-scrollbar {
  width: 0px;
}

form .button-area {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #ff00ee;
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}

.button-area button:hover {
  background: #ff00ee;
  box-shadow: 0 1px 3px #ff00ee;
}

.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}

.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}

.button-area button:hover i {
  left: 8px;
}

/************* Footer Section ************/

.footer {
  min-height: auto;
  padding-top: 15px;
  background: #080707;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .boxF {
  flex: 1 1 25rem;
  margin: 2.5rem;
}

.footer .box-container .boxF h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .boxF p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .boxF p i {
  padding-right: 1rem;
  color: #ff00ee;
}

.footer .box-container .boxF a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .boxF a:hover {
  color: #ff00ee;
}
.footer .box-container .boxF .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .boxF .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: black;
  color: #ff00ee;
  border: none;
}
.footer .box-container .boxF .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ff00ee;
}
.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit span {
  color: #ff00ee;
}

/********************* Responsivness **********/
@media(max-width:1200px) {
  html {
    font-size: 55;
  }
}

@media(max-width:991px) {
  .header {
    padding: 2rem 9%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .contact {
    min-height: auto;
  }

  footer {
    padding: 2rem 3%;
  }
}

@media(max-width:768px) {
  #menu {
    display: block;
  }
  .navbar {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 1rem 3%;
    background: #0f0a0a;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: .2rem solid rgba(255, 255, 255, .1);
    display: none;
  }
  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 3rem 0;
    font-size: 2rem;
  }

  .home {
    flex-direction: column-reverse;
  }

  .home .text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home .text-content h1 {
    font-size: 4rem;
  }

  .home img {
    width: 40vw;
  }

  .about {
    flex-direction: column;
  }
  .about img {
    width: 20rem;
    height: 20rem;
  }
}

@media(max-width:450px) {
  html {
    font-size: 50%;
  }

  .input-box input {
    width: 100%;
  }
}


/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }