@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "poppins";
  outline: none;
  border: none;
  color: #fff;
}

body {
  background: #0f0a0a;
  height: 100vh;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}